#levels-index {
  canvas {
    margin: 0px;
    padding: 0px;
  }

  .chrono, .loading {
    display:none;
  }

  .container {
    img {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }
  }

  .green {
    color:green;
  }

  .red {
    color:red;
  }
}
