#levels-show {
  #level {
    float:left;
    position:relative;
  }

  #game {

  }

  #buffer {
    display:none;
  }

  #loading {
    position:absolute;
    top:100px;
    width:960px;
    text-align:center;
  }

  #chrono {
    position:absolute;
    top:20px;
    left:832px;
    font-size:20px;
    background-color:black;
    color:white;
    padding:10px;
    width:104px;
    opacity:0.5;
    text-align:center;
  }

  #scores {
    float:left;
    width:180px;
    height:600px;
    overflow:scroll;

    .score {
      clear:both;
      padding: 3px;
      margin-left: 2px;
      border: 1px solid;
      height: 58px;
      margin-bottom: 5px;
    }

    .score:last-child {
      margin-bottom:0px;
    }

    .picture {
      float:left;
    }
  }
}
