<% content_for :current_user_best_score_id,    @best_score.try(:id).to_s %>
<% content_for :current_user_best_score_steps, @best_score.try(:steps).to_s %>

<div id="level" data-level-identifier="<%= @level.level_identifier %>">
  <canvas id="game"   width="960"  height="600" data-current-level="<%= @level.file_name %>"></canvas>
  <canvas id="buffer" width="1500" height="900"></canvas>

  <div id="loading">
    Loading, please wait...
  </div>

  <div id="chrono">
    0:00
  </div>
</div>

<div id="scores" ng-controller="ScoresCtrl">
  <div ng-repeat="score in scores" class="score"
       data-id="{{ score.id }}"
       data-steps="{{ score.steps }}"
       data-fps="{{ score.fps }}"
       data-user-id="{{ score.user_id }}"
       title="creation date: {{ score.updated_at }}"
       ng-cloak>
    <div class="picture">
      <img ng-src="{{ score.user_picture }}"/>
    </div>
    <div class="name">
      {{ score.user_name }}
    </div>
    <div class="time">
      {{ (score.steps / 60.0).toFixed(2).replace('.', ':') }}
    </div>
  </div>
</div>
