<%= link_to "Back to levels", levels_path %>
<br/>

<div id="level"
     data-level-identifier="<%= @level.level_identifier %>"
     data-level-filename="<%= @level.file_name %>">
  <canvas id="xmoto" width="960" height="600"></canvas>

  <div id="loading">
    Loading, please wait...
  </div>

  <div id="chrono">
    0:00
  </div>
</div>

<div id="scores" ng-controller="ScoresCtrl">
  <div ng-repeat="score in scores"
       ng-click="score.active = !score.active;refresh_replays()"
       ng-class="{ selected: score.active }"
       ng-cloak
       class="user"
       title="creation date: {{ score.updated_at }}">
    <div class="picture">
      <img ng-src="{{ score.user_picture }}"/>
    </div>
    <div class="name">
      {{ score.user_name }}
    </div>
    <div class="time">
      {{ (score.steps / 60.0).toFixed(2).replace('.', ':') }}
    </div>
  </div>
</div>

<div style="clear:both"></div>

<%= @level.file_name %>
